---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading noselect">
                    <h2 style="opactiy: 0.5;">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h2>
                    <hr class="small" style="opacity: 0.7;">
                    <span class="subheading" style="opacity: 0.7">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		{% if page.ads %}
		<div class="col-sm-8 col-sm-offset-1 col-xs-12">
			{{ content }}
		</div>
		<div class="col-sm-3 hidden-xs">
			<div id="seoHolder"></div>
		</div>
		{% else %}
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
		{% endif %}
	</div>
</div>

<hr>
